

body {
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('../MEDIA/back3.png'); /* Path to your background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    font-family: 'Ploni', sans-serif;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between; /* Left and right sections */
    align-items: center; /* Vertical alignment */
    background-color: #3b76be;
    padding: 2px 50px 0px 0px;
    margin-bottom: 100px;
}
  
/* Left side: Buttons container */
.left-buttons {
    display: flex;
    gap: 10px;
}
  
/* Styling for the buttons */
.left-buttons button {
    padding: 8px 8px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.left-buttons button:hover {
    background-color: #777;
}
  
/* Right side: Logo container */
.logo img {
    height: 60px; /* Adjust as needed */
}

h1{
    padding: 2px;
    margin-left: 64%;
    color: #9ED16F;
    font-size: 36px;
}


/* Login Section Styling */
.login-section {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    padding: 20px;
}
  
  /* Login Form Styling */
.login-form {
    background-color: #fff;
    padding: 3em;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    max-height: 650px;
    align-items: center;
    justify-content: center;
    
}
  
.login-form h2 {
    color: #3B77BE;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: right;
    color: #3B77BE;
    
}

.login-form input {
    width: 90%;
    padding: 8px;
    border: 1px solid #f0f0f0e2;
    background-color: #f0f0f0e2;;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family: 'Ploni', sans-serif;
    text-align: right;
}
  
.login-form button {
    width: 40%;
    padding: 7px;
    background-color: #3B77BE;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;  /* Make it a block element */
    margin: 0 auto;  /* Center horizontally */
    font-family: 'Ploni', sans-serif;
    font-size: 14px;
    margin-top: 18px;
   
}
  
.login-form button:hover {
    background-color: #9ED16F;
}