/* Light Weight (300) */
@font-face {
    font-family: 'Ploni';
    src: url('../FONTS/ploni-aaa-200-OFFICE.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Ploni';
    src: url('../FONTS/ploni-aaa-300-OFFICE.ttf') format('truetype');
    font-weight: 300;
}
  
/* Regular Weight (400) */
@font-face {
    font-family: 'Ploni';
    src: url('../FONTS/ploni-aaa-400-OFFICE.ttf') format('truetype');
    font-weight: 400;
}
  
/* Medium Weight (500) */
@font-face {
    font-family: 'Ploni';
    src: url('../FONTS/ploni-aaa-500-OFFICE.ttf') format('truetype');
    font-weight: 500;
}
  
/* Bold Weight (700) */
@font-face {
    font-family: 'Ploni';
    src: url('../FONTS/ploni-aaa-700-OFFICE.ttf') format('truetype');
    font-weight: 700;
}
  
